<section class="hero">
  <div class="container hero-wrapper">

    <!-- TEXTE -->
    <div class="hero-content">
      <h1>
        Transformez vos documents en quiz intelligents
        <span class="text-accent">en quelques secondes</span>.
      </h1>

      <p>
        Importez vos cours, articles ou textes structurés.
        Générez automatiquement un quiz pertinent et obtenez un rapport détaillé des performances.
      </p>

      <div class="hero-buttons">
        <a routerLink="/knowledge" class="btn btn-primary">Essayer gratuitement</a>
        <a routerLink="/knowledge" class="btn btn-secondary">Voir une démo</a>
      </div>
    </div>

    <!-- ILLUSTRATION -->
    <div class="hero-illustration">
      <img src="" alt="">
    </div>

  </div>
</section>