<section class="hero">
  
    <!-- TEXTE -->
    <div class="hero-content">
      <h1>
        Transformez vos documents en quiz intelligents
        <span class="text-accent">en quelques secondes</span>.
      </h1>

      <p>
        Importez vos cours, articles ou textes structurés.
        Générez automatiquement un quiz pertinent et obtenez un rapport détaillé des performances.
      </p>

      <div class="hero-buttons">
        <a routerLink="/login" class="btn btn-primary">Essayer gratuitement</a>
        <a routerLink="#" class="btn btn-secondary">Voir une démo</a>
      </div>
 
  </div>
</section>