<nav class="navbar">

  <div class="container navbar-inner">
    <button class="burger-menu"
            (click)="toggleMenu()">
      ☰
    </button>

    <div class="nav-menu"
         [class.open]="menuOpen">

      <a routerLink="/" class="nav-link">Fonctionnalités</a>
      <a routerLink="/" class="nav-link">FAQ</a>
      <a routerLink="/knowledge" class="nav-link">A propos</a>

      <ng-container *ngIf="isAuthenticated$ | async">
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      </ng-container>

    </div>

  </div>

</nav>