<nav class="navbar">
  <div class="container flex-between items-center">

    <a routerLink="/" class="brand">
      <img src="assets/img/b-ready.png" alt="logo">
    </a>

    <!-- Burger -->
    <button class="burger" (click)="toggleMenu()">
      ☰
    </button>

    <!-- Menu -->
    <div class="navbar-menu flex-between gap-5" [class.open]="isMenuOpen">

      
      <a routerLink="/about" class="nav-link">A propos</a>
      <a routerLink="/faq" class="nav-link">FAQ</a>
      <ng-container *ngIf="isAuthenticated$ | async">
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      </ng-container>
      <a routerLink="/dashboard/account" class="nav-link" (click)="close()">Account </a>

    <ng-container *ngIf="isAuthenticated$ | async">
      <button class="btn btn-secondary" (click)="logout()">
        Se déconnecter
      </button>
    </ng-container>

      <ng-container *ngIf="!(isAuthenticated$ | async)">
        <a routerLink="/login" class="btn btn-secondary">Se connecter</a>
        <a routerLink="/register" class="btn btn-primary">S'inscrire</a>
      </ng-container>

    </div>
  </div>
</nav>