
<!-- Error -->
    <div *ngIf="error" class="alert alert-error">
      {{ error }}
    </div>
    
<div class="container card-section" *ngIf="state === 'READY'">
  <div class="card text-center">
    <h1 class="text-accent">{{'Quiz prêt' }}</h1>
    <p class="muted">
      Prêt à commencer ?
    </p>

    <button class="btn btn-primary" style="margin-top: 24px;" (click)="createQuiz()">
      Démarrer le quiz
    </button>
  </div>
</div>


<div class="container card-section" *ngIf="state === 'IN_PROGRESS'">

  <div class="card">

    <h2 class="text-accent">
      Question {{ questionIndex + 1 }} / {{ quiz.generatedQuestions.length }}
    </h2>

    <p style="font-size: 1.2rem; margin-bottom: 24px;">
      {{ currentQuestion.statement }}
    </p>

    <div class="flex-col gap-3">

      <button
        class="btn btn-secondary"
        *ngFor="let choice of currentQuestion.choices; let i = index"
        (click)="selectAnswer(i)"
        [ngStyle]="{
          'border-color': isSelected(i) ? 'var(--color-primary)' : '',
          'box-shadow': isSelected(i) ? 'var(--shadow-glow)' : ''
        }"
      >
        {{ choice }}
      </button>

    </div>

    <div class="flex-between" style="margin-top: 32px;">

      <button
        class="btn btn-secondary"
        (click)="previous()"
        [disabled]="questionIndex === 0"
      >
        Précédent
      </button>

      <button
        class="btn btn-primary"
        *ngIf="!isLastQuestion()"
        (click)="next()"
        [disabled]="selectedAnswers[questionIndex] === null"
      >
        Suivant
      </button>

      <button
        class="btn btn-primary"
        *ngIf="isLastQuestion()"
        (click)="submitAnswers()"
        [disabled]="selectedAnswers[questionIndex] === null"
      >
        Terminer le quiz
      </button>

    </div>

  </div>
</div>

<!-- Écran de fin -->
<div class="container card-section" *ngIf="state === 'COMPLETED'">

  <div class="card">
    <h1>Quiz terminé 🎉</h1>
    <p>Merci d’avoir complété le quiz.</p>

    <p class="muted">
      Vous avez <span class="text-accent">{{rate}} %</span>  de reussite
    </p>

    <button class="btn btn-primary" style="margin-top: 24px;">
      Voir mon rapport
    </button>
  </div>

</div>
